/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background-image: linear-gradient(to top left,
    #91defe,
    #99c0f9,
    #bdb6ec,
    #d7b3e3,
    #efb3d5,
    #f9bccc);
}

/*去掉列表前面的小点*/
li {
    list-style: none;
}

/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    color: #666;
    text-decoration: none;
}
/*清除浮动*/
a {
    color: #666;
    text-decoration: none;
}
.main {
    width: 900px;
    height: 455px;
    margin-left: 0px;
    margin-top: 0px;
}
.fl {
    float: left;
}
.focus {
    position: relative;
    width: 350px;
    height: 500px;
    background-color: purple;
    overflow: hidden;
}
.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}
.focus ul li {
    float: left;
}
.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}
.arrow-r {
    right: 0;
}
.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}
.current {
    background-color: #fff;
}
.w img{
    width: 350px;
    height: 500px;
}
.vidio{
    position: relative;
    left: 350px;
    top: -460px;
    /* background-color; */
    display: flex;
    flex-wrap: wrap;
}
.vidio img{
    width: 355px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 45px;
    border-radius: 12px;
}
.re{
    position: relative;
    top: -25px;
    right: 350px;
    font-weight: 1000;
}
.up{
    position:relative;
    top: -26px;
    left: 15px;
}
img:hover{
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 2px 2px 15px rgb(rgb(170, 0, 255), green, blue);
}
