* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{    
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: url('/img/登录界面背景.png');
    background-size: cover;
}
.login{
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    top: 80px;
    overflow: hidden;
    border-radius: 20px ;
    backdrop-filter: blur(6px);
    width: 256px;
}
input{
    width: 400px;
}
.in-put{
    padding: 5px;
}
.put{
    width: 220px;
    height: 40px;
    border-radius: 10px;
}
.anniu{
    padding: 10px;
}
.anniu button{
    width: 50px;
    height: 30px;
}
.forget{
    position: relative;
    left: 150px;
    top: -35px;
    font-size: 16px;
}
#eye{
    height:20px;
    position: relative;
    top:5px;
    top: -29px;
    left: 222px;
    display:none;
}
#eye_b{
    height:20px;
    position: relative;
    top: -29px;
    left: 220px;
    display:block;
}
.login{
    position: relative;
    left: 45%;
    top: 45%;
}
.nav{
    width: 150px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    position: fixed;
    right: -150px;
    top: 0;;
    border-radius: 12px 0 12px;
    overflow: hidden;
    transition: 0.5s;
}
.nav li{
    width: 150px;
    height:40px;
    text-align: center;
    line-height: 40px;
}
.nav a:hover{
    background:#fc0
}
.nav a{
    color:white;
    /* display: block; */
}
#checkbox{
    display: none;
}
label{
    width:40px;
    font-size: 40px;
    text-align: center;
    position: fixed;
    right: 0px;
    top: 0px;
    transition:0.5s;
}
#checkbox:checked ~ .nav{
    right:0px;
}
#checkbox:checked ~ .lable{
    right:150px;
}
.menu li{
    margin-top: 40px;
}
.avatar{
    width: 100px;
    position: relative;
    right: -25px;
    top: 30px;
    border-radius:100%
}