* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
     background-image: linear-gradient(to top left,
    #91defe,
    #99c0f9,
    #bdb6ec,
    #d7b3e3,
    #efb3d5,
    #f9bccc);
}

.book{
    width: 300px;
    position:relative;
    right: -500px;
    top: 30px;
}
.jianjie{
    position: relative;
    right: -850px;
    top: -350px;
}
button{
    width: 70px;
    height: 30px;
    margin-top: 30px;
    margin-left:  15px;
}
.button{
    position: relative;
    left: 500px;
    top: -200px;
}
.re{
    width: 700px;
    height: 200px;
    position: relative;
    top: -180px;
    left: 500px;
}
.relative{
    position: relative;
    top: -600px;
    right: -1500px;

}
.image{
    width: 150px;
    height: 200px;
    position: relative;
    top: -950px;
    right: -1470px;
    margin-bottom: 40px;
}
.recommend{
    display: flex;
    flex-direction: column;
}
.music{
    position: relative;
    top: -1700px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #91defe; */
    z-index: 99;
    width: 330px;
    height: 580px;
    border-radius: 15px;
    box-shadow: 0 10px 30px black;
    border-top: 1px solid rgba(red, green, blue, alpha);
}